body{
    background: #f2f2f2;
    font-family: Arial, sans-serif;
}


.chat-container{

    
    margin: 60px auto;
    background: white;

    border-radius: 10px;
    padding: 20px;

    box-shadow: 0px 0px 10px gray;
}




#chat-box{

    height: 300px;
    border: 1px solid #ddd;

    padding: 10px;
    overflow-y: auto;

    margin-bottom: 10px;
}


.user-msg{

    text-align: right;
    margin: 5px;
    color: blue;
}


.bot-msg{

    text-align: left;
    margin: 5px;
    color: green;
}


.input-area{

    display: flex;
}


input{

    flex: 1;
    padding: 10px;
    border-radius: 5px;

    border: 1px solid #ccc;
}


button{

    padding: 10px 15px;

    background: #4CAF50;
    color: white;

    border: none;
    border-radius: 5px;

    margin-left: 5px;
    cursor: pointer;
}


button:hover{
    background: #45a049;
}
